/* You can add global styles to this file, and also import other style files */
body{
    background-color: bisque;
    padding: 2%;
}
.footer {
  border-radius: 5%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color:darksalmon;
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
}